header{
    margin: 0;
    padding: 0;
    height: 5vh;
    text-align: center;
}
.container{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.fullstack{
    max-width: 400px;
    text-align: center;
}

.DSA{
    max-width: 400px;
    text-align: center;
}

.DSA > img{
    width: 250px;
}
footer{
    height: 5vh;
    text-align: center;
}


@media(max-width: 1000px){
    .container{
        flex-direction: column;
        height: 100%;
        gap: 2rem;
    }
    .fullstack{
        margin-top: 20px;
    }
    footer{
        margin-top: 20px;
    }
}